<h1 class="title">Accueil</h1>

<div class="my-3">
    <p>Sur base de l'API réalisée durant le cours de Web API en .NET :</p>
    <p>Réaliser une application web en Angular permettant de consommer toutes les routes de l'API.</p>
    <p>
        <a href="https://github.com/BS-GavinC/AuthApiAngular23" target="_blank">
            https://github.com/BS-GavinC/AuthApiAngular23
        </a>
    </p>
    <p>Créer un panel d'administration qui permet de réaliser un CRUD sur les utilisateurs.</p>
    <p>Vous devez être connecté pour y avoir accès.</p>
    <p>Implémenter toutes les notions vues durant le cours d'Angular </p>
    <p>- Routing, Guard, Interceptor</p>
    <p>Travaillez avec un répertoire git (à donner au formateur)</p>
</div>